* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Global */

h1 {
  margin: 10px 0;
}

h2 {
  text-align: left;
}

/* Menu */
nav {
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;
}

nav ul li {
  display: inline-block;
  margin: 0px 10px 10px 0;
}

nav ul li a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #333;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

nav ul li a:hover{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Countries and cards */
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  gap: 8px 10px;
}

#main > div {
  border: 5px solid black;
  border-radius: 5px;
  text-align: center;
  width: calc(25% - 10px);
  min-height: 50vh;
  overflow-wrap: break-word;
  padding: 5px;
  position: relative;
}

.country_name {
  font-size: 1.3em;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 35px;
}

img {
  max-width: 100%;
  max-height: 200px;
  padding: 40px 0;
}

.continent {
  font-size: 20px;
  width: 100%;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* Colors for menu li elements and continents in a card */
.background_all {
  background-color: #dd581a;
}

.background_oceania {
  background-color: #c0737a;
}

.background_africa {
  background-color: #e3cbaf;
}

.background_south_america {
  background-color: #daa520;
}

.background_north_america {
  background-color: #228b22;
}

.background_europe {
  background-color: #4169e1;
}

.background_asia {
  background-color: #dc143c;
}

.background_antarctica {
  background-color: #9ed1e6;
}

/* Hover colors for menu */

nav ul li a.background_all:hover {
  background-color: #b03500; 
}

nav ul li a.background_oceania:hover {
  background-color: #a13155; 
}

nav ul li a.background_africa:hover {
  background-color: #b88d40; 
}

nav ul li a.background_south_america:hover {
  background-color: #996500; 
}

nav ul li a.background_north_america:hover {
  background-color: #0b6600; 
}

nav ul li a.background_europe:hover {
  background-color: #143a9e; 
}

nav ul li a.background_asia:hover {
  background-color: #9b0718; 
}

nav ul li a.background_antarctica:hover {
  background-color: #4f7e8e; 

/* Svg styling */
object {
  width: 100%;
  max-width: 750px;
  margin: 20px 0;
}

/* Queries for responsive design */
@media screen and (max-width: 922px) {
  #main > div {
    width: calc(33.333% - 10px);
  }
}

@media screen and (max-width: 769px) {
  #main > div {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 450px) {
  nav ul li {
    display: block;
    margin-right: 0;
  }
}
